/* CSS-Style 04/2008 by: derJan (http://derjan.devzero.de */

* {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

body {
	margin: 100px;
}

h1 {
	color: #000044;
}

h2 {
	color: #000044;
	border-bottom: 2px solid #8898BF;
}

a {
	text-decoration: none;
	color: #000077;
}

a:visited {
	text-decoration: none:
	color: #000077;
}

a:hover {
	text-decoration: none;
	color: #8898BF;
}

ul {
	list-style: square;
}
